# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

/CMakeLists.txt.user

/src/build

/src/CMakeLists.txt.user

*~

*.watcher_pid

*.synctex.gz

*.log

*.fls

*.fdb_latexmk

*.aux
p1.pdf

*.lb

/src/framebuffer/framebuffer
/src/motion_blur/motion_blur
/src-build/

/src/mirror_floor/mirror_floor

/src/spiral/spiral
/src/planets/planets
/src/intro_to_glsl/intro_to_glsl
/src/helloworld/helloworld
/src/checkerboard/checkerboard

/src/atmfx/atmfx

/writeup/proj2/proj2.pdf

/src/fastsmooth/fastsmooth

/src/perlin/perlin
.DS_Store
src/shadow/shadow
src/trackball/trackball
src/bezier/bezier
src/terrain/terrain
src/raytrace/output.png

/raytrace/raytrace

/shadow/shadow

/trimeshio/trimeshio

/helloglsl/helloglsl
/introglsl/introglsl

/lecture_viewing3d/lecture_viewing3d

/lecture_viewing3d_fov/lecture_viewing3d_fov

/lecture_viewing3d_fov_eigen/lecture_viewing3d_fov
/lecture_viewing3d_fov_eigen/lecture_viewing3d_fov_eigen

/eigen_image/eigen_image
